body{
    /*display: block;*/
    background-color:RGB(0, 34, 49);
}
#foto{
    height: 350px;
    width: auto;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
 #titulo{
     text-align: center;
 }

 .logo{
    border: solid;
    height: 90px;
    width: auto;
}
.lista{
    margin: 0%;
    text-align: inherit;
    
}
#info{
    display: flex;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
}
#Educacion{
    display: none;
    text-align: inherit;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);

}
#Trabajo{
    display: none;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
}

#Perfil{
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    border: solid;
    display: none;
    text-align: inherit;

}

.sub{
    color: tomato;
}
#Menu{
    text-align: center;
    display: block;
    margin: 0%;
    padding: 0%;
}
#Menu :hover{
    transition:all .10s ease-in-out;
    -webkit-transform:scale(1.3);transform:scale(1.3);
 
   /* margin: 30px, 30px, 30px, 30px;*/
    
    
}

button{
    
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    background-color:#FFD27D;
}
#Cerrar{
    font-weight:300;
    font-size:10px;
    background-color:red;
}

.imagenes :hover {
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.imagenes{
    display: flex;
}